.button {
  border: 1px solid;
  cursor: pointer;
  background-color: white;
  color: rgb(0, 31, 57);
  border-radius: 5px;

  &:hover {
    background-color: rgb(0, 31, 57);
    color: white;
  }
}

.error {
  background-color: rgb(242, 77, 77);
}
